
html {
    font-size: 36px;
}
body {
    margin: 0 auto;
    background-color: #2aa5a5;
    font-family: 'Nunito';
}
b {
    font-weight: 900;
    /*background-color: black;
    color: white;*/  
}

p, label {
    margin: 0 auto;
    font-size: 0.8rem;
}

input {
    font-size: 0.8rem;
    width: 10%
}

#holes-slider {
    width: 60%;
    font-family: 'Nunito';
}

#main-game {
    text-align: center;
    
}

#menu {
    border: solid;
    width: 45%;
    border-radius: 5%;
    padding: 50px 0;
    margin: 3rem auto 0 auto;
    background-color: white;
}

#rules-explanation {
    font-size: 0.6rem;
    width: 70%;
    margin: 10px auto;
    border-radius: 5%;
    padding: 50px 50px;
    background-color: white;
    border: solid;

}

#rules-explanation p {
    font-size: 0.6rem;
    text-align: left;
    
}



#menu, #game-buttons {
    text-align: center;
}

#game-buttons {
    margin: 0.5rem auto 0 auto;
}

button {
    width: 3rem;
    height: 1.1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: 'Nunito';
    border-radius: 10%;
    font-size: 0.5rem;
    cursor: pointer;
}
/*
#up, #down, #left, #right, #small, #medium, #big, #random, #memory, #custom, #reset, #new-game, #go, #rules, #back {
    width: 3rem;
    height: 1.1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: 'Nunito';
    border-radius: 10%;
    font-size: 0.5rem;
    cursor: pointer;
}
*/

#new-game {
    width: 4rem;
}

#gameplay {
    border: solid;
    border-radius: 5%;
    background-color: white;
    margin: 2rem auto 0 auto;
    width: 98%;
    padding: 2rem 0;
}

#new-game-div {
    margin: 5rem auto 0 auto;
    border: solid;
    border-radius: 5%;
    width: 45%;
    padding: 45px 0;
    background-color: white;
}

#memory {
    background-color: grey;
}

#gameGrid {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    display: grid;

    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

}

#gameGrid.fade {
    opacity:1;
}

#gameSquare {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3 ease-in-out;
}

#gameSquare.fade {
    opacity:0;
  }

.rules-square {
    width: 50px;
    height: 50px;
}

#player {
    background-color:#31ffd2;
}

#goal {
    background-color: #ffc131;
}

#path {
    background-color: #03e0c2;
}

#hole {
    background-color: #ff5a31;
}

@media only screen and (max-width: 736px) {
    #menu, #new-game-div {
        width: 75%;
    }
    #menu {
        margin: 1rem auto 0 auto;
    }

    #gameplay {
        margin: 0.1rem auto 0 auto;
    }

    #new-game-div {
        margin: 2rem auto 0 auto;
    }
}

@media only screen and (min-width: 737px) and (max-width: 812px) {
    #menu, #new-game-div {
        width: 70%;
    }
    #menu {
        margin: 1rem auto 0 auto;
    }

    #gameplay {
        margin: 0.1rem auto 0 auto;
    }

    #new-game-div {
        margin: 2rem auto 0 auto;
    }
}

@media only screen and (min-width: 813px) and (max-width: 1024px) {
    #menu, #new-game-div {
        width: 55%;
    }

    #menu {
        margin: 1rem auto 0 auto;
    }

    #gameplay {
        margin: 0.1rem auto 0 auto;
    }

    #new-game-div {
        margin: 2rem auto 0 auto;
    }
}


